body{
    
    font-family: "Courier New";
    /* background-color: #99FFCC;
    background-image: url("pic1.gif");
    background-attachment: fixed; */
    /* background: #99FFCC url("pic1.gif") fixed; */
    background: #99FFCC url("dot2.jpg") fixed;
    text
}