form{
    background-color: beige;
    padding:20px;
}

button[type="submit"]{
    padding: 10px 15px;
    background-color: rgb(207, 173, 123);
    color:darkolivegreen;
    border-radius: 20px;
    border:none;
}
button[type=submit]:hover{
    background-color: azure;
}

input {
    margin-bottom: 10px;
}