@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

img {
    max-width: 70%;
    border-radius: 50%;
    border: 2px dotted rgb(189, 206, 242);
  }
  dl{
    padding-left: 15px;
    font-size: 16px;
  }
  ul {
    list-style-type: square;
    font-size: 16px;
  }
  dd {
    font-size: 10px;
  }
  ul li a{
    color: rgb(32, 130, 107);
    
  }
  body {
    background-color: rgb(206, 239, 244);
    color: rgb(45, 45, 45);
    font-size: 16px;
    font-weight: 350;
    font-family: 'Montserrat', sans-serif;
  }
  a{
    text-decoration: none;
    color:rgb(236, 120, 160);
    font-weight: 650;
  }